﻿@model Quizzer.Models.QuizDomainModel

@{
    ViewBag.Title = "Index Quiz";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="domainTable">
        @foreach (var domain in Model.Domains)
        {
            <tr class="domainRow" onclick="toggle(@domain.Id)">
                <td>@domain.Name</td>
                <td>@domain.Description</td>
                <td>@Html.ActionLink("Take new quiz", "GetQuiz", new {domainId = domain.Id}, new {@class = "btn btn-default"})</td>
            </tr>
            foreach (var quiz in Model.Quizes.Where(x => x.DomainId == domain.Id))
            {
                <tr class="collapse row_@domain.Id ">
                    <td>@quiz.Date</td>
                    <td>@quiz.Score / 10 pts</td>
                    <td>
                        @Html.ActionLink(quiz.ReadOnly ? "View" : "Continue" + " quiz", "TakeQuiz", new { id = @quiz.Id.ToString() }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
@section scripts
{
    <script>
       function toggle(id) {
            $('tr.collapse').hide();
            var rows = $('.row_' + id);
            rows.toggle('slow');
        }
    </script>
}
