﻿@model Quizzer.Models.QuizQuestionModel

@{
    ViewBag.Title = "Quiz: " + Model.DomainName;
}

<div class="container">
    <h2>
        @ViewBag.Title
        @if(!Model.ReadOnly){ 
        <span class="float-right">
        Time limit:
        <span id="timer"></span>
        @Html.Hidden("timeLimit", Model.DateLimit.ToUniversalTime().Subtract(new DateTime(1970, 1, 1)).TotalMilliseconds)
        </span>
        }
    </h2>
<br />
@if (Model.Answers == null)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Questions</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                @for (var i = 1; i <= 10; i++)
                {
                    <tr>
                        <td>
                            <a href="?page=@i" class="@(Model.Questions[i - 1].IsAnswered ? "answered" : "unanswered")">@i.ToString(). @Model.Questions[i - 1].Text</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
else
{
    <div class="container col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="?page=0" class="bold">Questions</a>: @string.Format("{0}/10 answered", Model.Questions.Count(x => x.IsAnswered))</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    @for (var i = 1; i <= 10; i++)
                    {
                        <li class="list-group-item">
                            <a href="?page=@i" class="@(Model.Questions[i - 1].IsAnswered ? "answered" : "unanswered")">@i.ToString(). @string.Join("", Model.Questions[i - 1].Text.Take(70))...</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container col-md-8">
        @using (Html.BeginForm("SaveQuizAnswer", "Quiz"))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(false)

                @Html.HiddenFor(model => model.QuestionId)
                @Html.HiddenFor(model => model.IsWithMultipleChoice)
                @Html.HiddenFor(model => model.QuizSetId)
                @Html.HiddenFor(model => model.Page)
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title bold">@Model.Page. @Model.QuestionText</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                @for (var index = 0; index < Model.Answers.Count; index++)
                                {
                                    @Html.HiddenFor(model => model.Answers[index].Id)
                                    <li class="list-group-item">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                @if (Model.IsWithMultipleChoice)
                                                {
                                                    @Html.CheckBoxFor(model => model.Answers[index].IsSelected, new { @class = "checker", disabled = Model.ReadOnly })
                                                }
                                                else
                                                {
                                                    @Html.RadioButtonFor(model => model.SelectedAnswer, Model.Answers[index].Id, new { @class = "checker", disabled = Model.ReadOnly })
                                                }
                                            </span>
                                            <input type="text" class="form-control" readonly value="@Model.Answers[index].Text" />
                                        </div>
                                    </li>
                                }
                            </ul>
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="?page=@(Model.Page - 1)" class="btn btn-default float-left">Previous</a>
                                </div>
                                <div class="col-md-4 text-center">
                                    <input type="submit" id="saveAnswer" class="btn btn-primary" value="Save answer" @(Model.IsAnswered || Model.ReadOnly ? "disabled" : "") />
                                </div>
                                @if (Model.Page < 10)
                                {
                                    <div class="col-md-4">
                                        <a href="?page=@(Model.Page + 1)" class="btn btn-default float-right">Next</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (!Model.ReadOnly)
        {
            <div class="col-md-2">
                @using (Html.BeginForm("EndQuiz", "Quiz", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("id", Model.QuizSetId)
                    <input type="submit" class="btn btn-success float-right" value="End quiz" />
                }
            </div>
        }

    </div>
}
</div>



@section scripts
{
    <script>
        function QuizTimer() {
            var time = new Date(parseInt($('#timeLimit').val()));
            var timeSpan = moment(time).countdown().toString();
            $('#timer').text(timeSpan);
        }

        $(document).ready(function() {
            var interval = setInterval(function () { QuizTimer() }, 1000);
            console.log(new Date($('#timeLimit').val()));
            $('.checker').change(function() {
                $('#saveAnswer').removeAttr('disabled');
            });
        });
    </script>
}