﻿@using Quizzer.Models
@model Quizzer.Models.NewQuestionModel

@{
    ViewBag.Title = "Add Question";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(false)

            <div class="form-group">
                @Html.LabelFor(model => model.DomainName, new {@class = "control-label col-md-2"})
                <div class="col-md-10 ">
                    <h4><span class="label label-default control-label">@Model.DomainName</span></h4>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsManyChoice, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IsManyChoice,
                        new SelectList(
                            new[]
                            {
                                new {Value = "true", Text = "Multiple choice"},
                                new {Value = "false", Text = "Single choice"},
                            },
                            "Value",
                            "Text",
                            Model.IsManyChoice
                            ), new {@class = "form-control", @onchange = "toggleQuestionType(this.value)"})
                    @Html.ValidationMessageFor(model => model.IsManyChoice)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Text, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Text, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Text)
                </div>
            </div>

            <div id="answers" class="col-md-8">
                @Html.HiddenFor(model => model.CorrectAnswerId)
                @Html.Hidden("answersCount", 3)
                <table class="table">
                    <thead>
                    <tr>
                        <th>Correct</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            @Html.RadioButtonFor(modelItem => modelItem.CorrectAnswerId, 0, new {@class = "answerChecker radioAnswer"})
                            @Html.CheckBoxFor(modelItem => Model.Answers[0].IsCorrect, new {@class = "answerChecker checkboxAnswer", @style = "display: none"})
                        </td>
                        <td>
                            @Html.TextAreaFor(modelItem => Model.Answers[0].Text, new {@class = "col-md-12"})
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.RadioButtonFor(modelItem => modelItem.CorrectAnswerId, 1, new {@class = "answerChecker radioAnswer"})
                            @Html.CheckBoxFor(modelItem => Model.Answers[1].IsCorrect, new {@class = "answerChecker checkboxAnswer", @style = "display: none"})
                        </td>
                        <td>
                            @Html.TextAreaFor(modelItem => Model.Answers[1].Text, new {@class = "col-md-12"})
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.RadioButtonFor(modelItem => modelItem.CorrectAnswerId, 2, new {@class = "answerChecker radioAnswer"})
                            @Html.CheckBoxFor(modelItem => Model.Answers[2].IsCorrect, new {@class = "answerChecker checkboxAnswer", @style = "display: none"})
                        </td>
                        <td>
                            @Html.TextAreaFor(modelItem => Model.Answers[2].Text, new {@class = "col-md-12"})
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <button class="btn btn-default" onclick="addAnswer(); return false; " disabled>Add answer</button>
                    <input type="submit" value="Create" class="btn btn-primary col-md-offset-4"/>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            
        });

        function toggleQuestionType(multiple) {
            if (multiple == 'true') {
                $('.radioAnswer').hide('slow');
                $('.checkboxAnswer').show('slow');
            } else {
                $('.checkboxAnswer').hide('slow');
                $('.radioAnswer').show('slow');
            }
        }

        function addAnswer() {
            alert($('#answersCount').val());
        }
    </script>
}