﻿@using System.Web.Mvc.Html
@model Quizzer.Models.NewSubdomainModel

@{
    ViewBag.Title = "Add subdomain";
}

<div class="container">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.DomainId, new { @class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.DomainId, Model.Domains, new { @class = "form-control col-md-3", @onchange = "toggleNewDomain(this.value)"})
                    @Html.ValidationMessageFor(model => model.DomainId)
                </div>
            </div>

            <div id="newDomain" class="collapse">
                <div class="form-group">
                    @Html.LabelFor(model => model.DomainName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.DomainName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DomainName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DomainDescription, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.DomainDescription, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DomainDescription)
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubdomainName, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.SubdomainName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SubdomainName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubdomainDescription, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.SubdomainDescription, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SubdomainDescription)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function toggleNewDomain(id) {
            if (id == -1)
                $('#newDomain').show('slow');
            else
                $('#newDomain').hide('slow');
        }
    </script>
}
