﻿@model IEnumerable<DataManager.Domain>

@{
    ViewBag.Title = "Domains";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <a href="@Url.Action("AddSubdomain", "Manage")" class="btn btn-default">Add domain/subdomain</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="domainTable">
        @foreach (var domain in Model)
        {
            <tr onclick="toggle(@domain.Id)" class="domainRow">
                <td>@domain.Id</td>
                <td>@domain.Name</td>
                <td colspan="2">@domain.Description</td>
            </tr>

            foreach (var subdomain in domain.SubDomains)
            {
                <tr class="collapse row_@domain.Id row">
                    <td>-</td>
                    <td>@subdomain.Name</td>
                    <td>@subdomain.Description</td>
                    <td>
                        @Html.ActionLink("View questions", "Questions", new { subDomainId = @subdomain.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Add question", "AddQuestion", new { subdomainId = @subdomain.Id }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            console.log('page load complete');
        });

        function toggle(id) {
            $('tr.collapse').hide();
            var rows = $('.row_' + id);
            rows.toggle('slow');
        }
    </script>
}



