﻿@model IEnumerable<DataManager.QuizItem>

@{
    ViewBag.Title = "Questions";
    var _subdomainId = (int) ViewData["subdomainId"];
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <h4>@Html.ActionLink("Domains", "Domains")</h4>
    <a href="@Url.Action("AddQuestion", "Manage", new {subdomainId = _subdomainId})" class="btn btn-default">Add question</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nr.</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @{
            var nr = 1;
            var check = "";
            foreach (var question in Model)
            {
                <tr onclick="toggle(@nr)" class="questionRow">
                    <td>@nr</td>
                    <td>@question.Description</td>
                </tr>

                foreach (var answer in question.Answers)
                {
                    <tr class="collapse row_@nr">
                        <td>
                            @{
                                check = answer.IsCorrect ? "checked = true" : "";
                                if (question.HasManyAnswers)
                                {
                                    <input type="checkbox" @check name="check_@nr" disabled/>
                                }
                                else
                                {
                                    <input type="radio" @check name="check_@nr" disabled/>
                                }
                            }
                        </td>
                        <td>@answer.Description</td>
                    </tr>
                }

                nr++;
            }
        }
        </tbody>
    </table>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            console.log('page load complete');
        });

        function toggle(id) {
            $('tr.collapse').hide('slow');
            var rows = $('.row_' + id);
            rows.toggle('slow');
        }
    </script>
}



